<?xml version="1.0"?>
<launch>

   <!-- our xacro/urdf model -->
   <arg name="model" value="$(find line_mexatron)/urdf/line_mexatron.urdf"/>
  <!-- Load the CougarBot URDF model into the parameter server -->
  <param name="robot_description" textfile="$(find line_mexatron)/urdf/line_mexatron.urdf" />
  <!-- Start Gazebo with an empty world -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="world_name" value="$(find line_mexatron)/world/course.world" />
  </include>

  <!-- Spawn our robot using urdf_spawner node -->
  <node name="urdf_spawner"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        args="-z 0.0
              -x 1.0
              -y 2.37
              -unpause
              -urdf
              -model robot
              -param robot_description"/>


  
<!-- load multiple values stored in .yaml file into global parameters -->
  <!-- parameters store motor controller configurations -->
  <rosparam command="load"
            file="$(find line_mexatron)/config/joints.yaml" />
  
  <!-- Spawn controllers -->
  <node name="line_mexatron_controller_spawner"
        pkg="controller_manager"
        type="spawner"
        args="joint_state_controller
              right_wheel_controller
              left_wheel_controller
              camera_controller" />

</launch>